*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: url(https://i.pinimg.com/originals/c8/a2/cc/c8a2ccd031b2a85533bca14367607a42.png) no-repeat;
    background-size: cover;
  }
  .box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: #998385fa;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
    margin-top: 10px;
    font-style: italic;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: #998385fa;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }
  